body {
	background-image:url('');
	width: 1000px;
	margin: 0 auto;
	padding: 0 50px 50px 50px;
	background color: black;
	border: 100px '991332CC';
}

h1{
	font-style: italic;
	color;
	text-align: center;
	font-size: 38pt
}
h2{
	font-style: italic;
	color;
	text-align: center;
	font-size: 38pt
}
h3{
	font-style: italic;
	color;
	text-align: left;
	font-size: 20pt
}
#fundo{
	background-color: white;
}
.paragrafo{
	color:red;
	font-size: 100%
}
.paragrafo2{
	color: #000000;
}